.heading{
    font-size:30px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px pink;
}
.note{
    font-size:20px;
    color:black;
}
.copy_right_footer{
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color:darksalmon;
    color:black;
    line-height:3;
    text-align:center;
}
canvas{
    border:5px solid crimson;
    box-shadow:5px 5px 5px plum;
    border-radius:10px;
}